
body{

    background-color: black;

}



#theParentDiv{

    display: flex;
    flex-direction: column;

}

.links{

    text-decoration: none;
    color: red;

}

.pLinks:hover{

    text-decoration: underline;
    text-decoration-color: red;
    margin-top: 2px;

}

#alignHeaderDiv{

    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    position: fixed;
    background-color: white;

}



#headerLinksDiv{
    
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;

}

#userFormParentDiv {

    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

}

#pageHeader{

    color: chocolate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.infoDivs{

    width: 300px;
    height: 40px;

}

.info {
    
    border-radius: 5px;
    height: 20px;
    
}

.info::placeholder{

    padding: 3px;
    font-style: italic;

}

#lastNameInfo{

    margin-left: 2px;

}

#emailInfo{

    margin-left: 33px;

}



#enterSubject{

    border-radius: 10px;
    margin-top: 20px;
    border-color: black;

}

#enterSubject::placeholder {

    padding: 3px;
    font-style: italic;

}

#submitButton {

    width: 100px;
    height: 25px;
    border-radius: 20px;
    
    
}

#submitButton:hover {

    background-color: blue;

}

#endDiv {

    height: 63px;
    width: 100%;
    background-color: lightcoral;
}