
body {


}



@media screen and (max-width: 992px) {
    
#navSocialMediaChild {

    display: flex;
    flex-direction: row;
    justify-content: center;

}
}

@media screen and (min-width: 993px){

    #navSocialMediaChild {

        display: flex;
        flex-direction: row;
        margin-left: 50px;

    }

}

#landscapingContainer {

    display: flex;
    justify-content: center;
    align-items: center;
  

}

#gifLanscaping {

    background-image: url(landscapingGif.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    

}

#landscapeTitle {
   
   color: black;
   font-style: italic;

}

#landscapingInfo {

    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
   

}

#landscapingServicesContainer {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: black;
    margin-bottom: 50px;
    margin-top: 50px;
  
}

#landscapingServicesUlContainer {
    display: flex;
    margin-top: 10px;
    width: 250px;

}

#snowShovelingContainer{

    display: flex;
    justify-content: center;
    align-items: center;

}


#snowShovelingGif {

    background-image: url(snowShoveling.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}

    

#snowRemovalTitle {
   
    color: black;
    font-style: italic;
 
 }

#snowRemovalInfo {

    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


#footerDiv {

    color: white;
}