@media screen and (max-width: 992px) {
    
#navSocialMediaChild {

    display: flex;
    flex-direction: row;
    justify-content: center;

}
}

@media screen and (min-width: 993px){

    #navSocialMediaChild {

        display: flex;
        flex-direction: row;
        margin-left: 50px;

    }

}

#landscapingContainer {

    display: flex;
    justify-content: center;
    align-items: center;
  

}

#gifLanscaping {

    background-image: url(landscapingGif.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;  

}

#landscapeTitle {
   
   color: black;

}

#landscapingInfo {

    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
   

}

#lawnPContainer {

    background-color: green;
    color: gold;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

#lawnPContainerChild {
    height: 100%;
    margin-top: 10px;
}

#landscapingServicesContainer {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    color: black;
    padding: 10PX;
  
}

#landscapingServicesUlContainer {
    
    display: flex;
    margin-top: 10px;
    width: 250px;

}

#whyChooseUsContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: green;

}

#chooseUsHeading {

    color: white;
    font-weight: bold;

}

.chooseUsGold {

    color: gold;

}

.chooseUsWhite {

    color: white;

}

#callTodayP {

    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

#snowShovelingContainer {

    display: flex;
    justify-content: center;
    align-items: center;

}

#snowShovelingGif {

    background-image: url(snowShoveling.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
   
}   

#snowRemovalTitle {
   
    color: black;
    
 
 }

#snowRemovalInfo {

    margin-top: 30px;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#footerDiv {

    color: white;
}